In [1]:
dic={}
print(dic)
print(type(dic))

{}
<class 'dict'>

In [3]:
d1=dict()
print(d1)
print(type(d1))

{}
<class 'dict'>

In [11]:
dic={"A":"APPLE",
    "P":"Papya",
    "D":"Data science",
    "J" : "Java"}
print(dic)
print(type(dic))

{'A': 'APPLE', 'P': 'Papya', 'D': 'Data science', 'J': 'Java'}
<class 'dict'>

In [12]:
dic1=dict(a=100,b=200,c="India")
print(dic1)
print(type(dic1))

{'a': 100, 'b': 200, 'c': 'India'}
<class 'dict'>

In [14]:
dic={
    "A":"Apple",
    "P":"Papya",
    "D":"Data science",
    "J":"Java",
    1:"One",
    2:"Two"}
print(dic)
print(type(dic))

{'A': 'Apple', 'P': 'Papya', 'D': 'Data science', 'J': 'Java', 1: 'One', 2: 'Two'}
<class 'dict'>

In [15]:
print("**********************************")
Js = {"name":"John",
      "age":30,
      "car":"Blue"
     }
print(Js)
print(type(Js))

**********************************
{'name': 'John', 'age': 30, 'car': 'Blue'}
<class 'dict'>

In [19]:
dic={
    "A":"Apple",
    "P":"Pypya",
    "D":"Data science",
    "J":"Java",
    11:"one",
    22:"Two"
}
print(dic)
print(type(dic))
res=dic["D"]
print(res)
res=dic[22]
print(res)
res=dic[11]
print(res)
print("***************************")
list1=[100,200,"India",900]
print(list1)
res=list1[2]
print(res)

{'A': 'Apple', 'P': 'Pypya', 'D': 'Data science', 'J': 'Java', 11: 'one', 22: 'Two'}
<class 'dict'>
Data science
Two
one
***************************
[100, 200, 'India', 900]
India

In [28]:
dic1={
    "A":"Aplle",
    "P":"Papya",
    "D":"Data scince"
    
}
print(dic)
print(type(dic))
dic2={
    "B":"Blue",
    "Y":"Yellow",
    "G":"Green"
}
print(dic)
print(type(dic2))
for c in dic1.items():
    print(c)
print("------------------------------------")
for z in dic2.items():
    print(z)
print("************************************")
import time
for x in dic1,dic2:
    print(c)
    time.sleep(2)

{'A': 'Apple', 'P': 'Pypya', 'D': 'Data science', 'J': 'Java', 11: 'one', 22: 'Two'}
<class 'dict'>
{'A': 'Apple', 'P': 'Pypya', 'D': 'Data science', 'J': 'Java', 11: 'one', 22: 'Two'}
<class 'dict'>
('A', 'Aplle')
('P', 'Papya')
('D', 'Data scince')
------------------------------------
('B', 'Blue')
('Y', 'Yellow')
('G', 'Green')

In [30]:
dic={
    "A":"APPLE",
    "P":"Python",
    "D":"Data scinece",
    "B":"Banana",
    "J":"java",
    "O":"Oracle"
}
print(dic)
print(type(dic))
print("********************************")
dic.clear()
print(dic)
dic["S"]="Shanti"
print(dic)

{'A': 'APPLE', 'P': 'Python', 'D': 'Data scinece', 'B': 'Banana', 'J': 'java', 'O': 'Oracle'}
<class 'dict'>
********************************
{}
{'S': 'Shanti'}

In [34]:
import collections
dic1 ={
    "P":"Pyton",
    "D":"Data scince",
    "O":"orange"
}
dic2={
    "B":"banana",
    "K":"kiwi",
    "M":"Mango"
    
}
print("dic1 value:",dic1)
print("dic2 value:", dic2)
print("****************************")
res_dic1=dict(collections.Chainmap(dic1,dic2))
print(res_dic1)

dic1 value: {'P': 'Pyton', 'D': 'Data scince', 'O': 'orange'}
dic2 value: {'B': 'banana', 'K': 'kiwi', 'M': 'Mango'}
****************************

AttributeError: module 'collections' has no attribute 'Chainmap'

In [37]:
dic={
    "A":"Apple",
    "P":"Papya",
    "D":"Data scinece",
    "J":"Java",
    "O":"Orange"
}
print(dic)
print(type(dic))
print("************************")
print(dic["J"])
del dic["J"]
print(dic)
del dic
print(dic1)

{'A': 'Apple', 'P': 'Papya', 'D': 'Data scinece', 'J': 'Java', 'O': 'Orange'}
<class 'dict'>
************************
Java
{'A': 'Apple', 'P': 'Papya', 'D': 'Data scinece', 'O': 'Orange'}
{'P': 'Pyton', 'D': 'Data scince', 'O': 'orange'}

In [41]:
resdic={}
for i in range(1,10):
    resdic[i]=(i*i*i)
print(resdic)
print("*****************************")
res={j:(j*j*j) for j in range(1,10)}
print(res)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729}
*****************************
{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729}

In [51]:
list1 =["France","India","yellow","Usa","uk","The","welcome","Data scinece"]
finaldic = {}
for x in list1:
    if len(x)>=5:
        finaldic[x[0]] =x
print(finaldic)
print("********************************")
res={y[0]:y for y in list1 if len (y) >=5}
print(res)

{'F': 'France', 'I': 'India', 'y': 'yellow', 'w': 'welcome', 'D': 'Data scinece'}
********************************
{'F': 'France', 'I': 'India', 'y': 'yellow', 'w': 'welcome', 'D': 'Data scinece'}

In [52]:
def fun_add():
    print("This is from fun_add")
    n1=int(input("Enter first Number:"))
    n2=int(input("Enter second number:"))
    n3=int(input("Enetr third number"))
    res = n1+n2+n3
print(res)

{'F': 'France', 'I': 'India', 'y': 'yellow', 'w': 'welcome', 'D': 'Data scinece'}